@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playfair+Display&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    background-color: black
};

.encabezado{
    color: white;
    .navbar{
        background-color: black;
        justify-content: space-around;
        align-items: center;
    }

};
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    justify-content: space-around;
}

.title{
    font-family: 'Bungee Spice', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.25rem;
};
.body{
    display: flex;
    flex-direction: column;
}
.card-section{
    position: relative;
    width: 100%;
    margin-top: 12.5rem;
}
div.card{
    width: 6.25rem;
    background-color: green;
    position: absolute;
    background-color: gray
};
#comprar{
    color: white;
    width: 9.375rem;
    background-color: aliceblue
};
.card-content{
    text-align: center;
}